.header {
    width: 100%;
    height: 75px;
    margin: auto;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    justify-content: flex-end;
    color: black;
    font-weight: lighter;
}

.title {
    font-size: 20px;
    width: 60%;
    margin-left: 15px;

}

.hireus {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding-bottom: 10%;
    padding-top: 10%;
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
}
a {
    text-decoration: none;
    color: #69696a;

}

ul {
    margin: auto;
    color: #69696a;
}

.main {
    height: 300px;
    margin: auto;
    padding-top: 5%;
    float: left;
    text-align: left;
    flex-direction: row;
    padding-bottom: 100px;
}

h1 {
    font-size: 40px;
    width: 50%;
    margin-left: 15px;
} 

p {
    width: 50%;
    color: #69696a;
    margin-left: 40px;
    border-left: solid;
    padding: 12px;
    border-color: lightgray;

}

#pink {
    background-color: rgba(247, 136, 167, 0.6);
    width: 250px;
    height: 300px;
    position: relative;
    border-radius: 100%;
    float: right;
    padding-left: 5%;
    margin-right: 20%;
    z-index: -200;
    box-shadow: 165px -60px 0 -75px rgba(207, 130, 213, 0.6),
                150px 95px 0 -50px  rgba(247, 193, 162, 0.7);
  }

button {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;//normal; 
    font-size: 15px;
    border: none;
}

body {
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;//normal; 
}